<script lang="ts">
    import {databaseClient, DATABASE, accountClient} from "$lib/AppwriteUtils";
    import {page} from "$app/stores";
    import {onMount} from "svelte";
    import {authenticate, loadClient, getVideoSnippets, type VideoSnippet} from "$lib/GapiUtils";
    import {type Models, Query} from "appwrite";
    import type {Path, Rectangle} from "$lib/PathUtils";
    import Tree from "./Tree.svelte";
    import {getPath} from "$lib/PathUtils";
    import {localStorageStore} from "@skeletonlabs/skeleton";

    type Video = {
        rootId: string;
        videoId: string;
        title: string;
        description: string;
        thumbnailUrl: string;
        thumbnailHeight: number;
        thumbnailWidth: number;
        videoUrl: string;
        children: string[];
        generation: number;
        linkTo?: string;
    }

    let root: any = {};
    let roots: any[] = [];
    let inputVideoUrl = "";
    let watched = new Set<string>();
    let authenticated = false;
    let videos: (Video | Video & Models.Document)[] = [];
    let selectedRectangle = null;
    let selectedVideo = null;

    const isAdmin = new localStorageStore("isAdmin", false);
    $:{
        if (selectedRectangle !== null) {
            selectedVideo = videos.find(video => video.$id === selectedRectangle.id);
        }
    }


    onMount(() => {
        loadRoot();
    })

    async function loadRoot() {
        roots = (await databaseClient.listDocuments(DATABASE.id, DATABASE.tables.ROOT)).documents;
        root = roots.find(root => root.$id === $page.params.rootId);
        watched = new Set(JSON.parse(localStorage.getItem(root.$id + "-watched") || "[]"));
        const videoResponse = await databaseClient.listDocuments<Video>(DATABASE.id, DATABASE.tables.VIDEOS, [Query.equal("rootId", root.$id), Query.limit(200)]);
        videos = videoResponse.documents;
        videos.forEach(v => v.children = v.children.filter(c => !!c))
        if (videos.length === 0) {
            inputVideoUrl = root.videoLink;
            selectedVideo = {children: []};
        }
    }

    async function addVideo(inputVideoUrl: string, rootId: string, generation: number): Promise<Video[]> {
        if (!authenticated) {
            await authenticate();
            await loadClient();
            authenticated = true;
        }
        const videoIds = inputVideoUrl.trim().split(/\s+/).map(getVideoId);
        const result = await getVideoSnippets(videoIds);
        const response: Video[] = [];
        for (let resultElement of result.items) {
            const snippet: VideoSnippet = resultElement.snippet;
            const video: Video = {
                rootId,
                videoId: resultElement.id,
                title: snippet.title,
                description: snippet.description,
                thumbnailUrl: snippet.thumbnails.medium.url,
                thumbnailHeight: snippet.thumbnails.medium.height,
                thumbnailWidth: snippet.thumbnails.medium.width,
                videoUrl: `https://www.youtube.com/watch?v=${resultElement.id}`,
                children: [],
                generation
            }
            try {

                response.push(await databaseClient.createDocument<Video & Models.Document>(DATABASE.id, DATABASE.tables.VIDEOS, "unique()", video));
            } catch (err) {
                response.push((await databaseClient.listDocuments<Video & Models.Document>(DATABASE.id, DATABASE.tables.VIDEOS, [Query.equal("rootId", root.$id), Query.equal("videoId", video.videoId)])).documents[0]);
            }
        }
        return response;
    }

    function getVideoId(url: string): string {
        const parsedUrl = new URL(url);
        if (parsedUrl.hostname === "youtu.be") {
            return parsedUrl.pathname.substring(1);
        } else if (parsedUrl.hostname === "www.youtube.com") {
            return parsedUrl.searchParams.get("v");
        } else {
            throw new Error("Invalid URL");
        }
    }

    const IMAGE_PADDING = 10;
    const TEXT_SPACING = 15;
    const RECTANGLE_PADDING = 20;
    const RECTANGLE_CHILD_SPACING = 140;
    const PATH_PADDING = 7;

    function getTreeData(videos: Video[], watched): {
        rectangles: Rectangle[],
        paths: Path[],
        images: [],
        textItems: [],
        generationCount: number,
        heightFactor: number,
    } {
        const rectangles: Rectangle[] = [];
        const images = [];
        const paths = [];
        const textItems = [];
        const rectangleIds = new Set<string>();
        const generation0Videos = videos.filter(video => video.generation === 0);
        const heightCursors = new Map<number, number>();
        const v = new Map<string, Video>();
        const referenceCount = new Map<string, number>();
        const generationWidths = new Map<number, number>();
        let generationDepth = 1;

        for (let video of videos) {
            v.set(video.$id, video);
        }
        heightCursors.set(0, 0)
        for (let video of generation0Videos) {
            const {
                rectangle,
                image,
                text
            } = getRectangle(RECTANGLE_PADDING, RECTANGLE_PADDING + heightCursors.get(0), video);
            if (watched.has(video.$id))
                rectangle.stroke = 'green'
            rectangles.push(rectangle);
            images.push(image)
            textItems.push(text);
            heightCursors.set(0, rectangle.y + rectangle.height + RECTANGLE_PADDING)
            if (video.children) {
                const generationStack: Video[][] = [[video], video.children.map(id => v.get(id))];
                heightCursors.set(1, rectangle.y)
                let generation = 1;
                while (generation > 0) {
                    if (generation > generationDepth) {
                        generationDepth = generation;
                    }
                    const currentGeneration = generationStack[generation];
                    if (currentGeneration.length === 0) {
                        generationStack.pop();
                        generation--;
                        const lastGeneration = generationStack[generation].shift();
                        if (lastGeneration.children.length > 1 && generationStack[generation].length > 1) {
                            const lastRectangleId = lastGeneration.children[lastGeneration.children.length - 1];
                            const rectangle1 = rectangles.find(rectangle => rectangle.id === lastRectangleId);
                            const newHeight = heightCursors.get(generation + 1) + rectangle1.height + RECTANGLE_CHILD_SPACING;
                            if (newHeight > heightCursors.get(generation))
                                heightCursors.set(generation, newHeight);
                        } else {

                            // heightCursors.set(generation, heightCursors.get(generation + 1) +RECTANGLE_CHILD_SPACING);
                        }

                        continue;
                    }
                    if (generationWidths.has(generation))
                        generationWidths.set(generation, generationWidths.get(generation) + 1);
                    else
                        generationWidths.set(generation, 1);
                    const currentVideo = currentGeneration[0];
                    const parent: Video = generationStack[generation - 1][0];
                    const parentRectangle = rectangles.find(rectangle => rectangle.id === parent.$id);
                    if (rectangleIds.has(currentVideo.$id)) {
                        const rectangle = rectangles.find(rectangle => rectangle.id === currentVideo.$id);
                        if (!referenceCount.has(currentVideo.$id)) {
                            referenceCount.set(currentVideo.$id, 2);
                        } else {
                            referenceCount.set(currentVideo.$id, referenceCount.get(currentVideo.$id) + 1);
                        }
                        const path = getPath(parentRectangle, rectangle,
                            (parent.children.length * PATH_PADDING / 2) - (currentGeneration.length * PATH_PADDING),
                            currentGeneration.length * PATH_PADDING + (referenceCount.get(currentVideo.$id) - 1) * PATH_PADDING,
                            (referenceCount.get(currentVideo.$id) - 1) * PATH_PADDING);
                        if (watched.has(currentVideo.$id) && watched.has(parent.$id)) {
                            path.stroke = 'green';
                        } else if (root.terminatingIds && root.terminatingIds.indexOf(currentVideo.videoId) !== -1) {
                            path.stroke = 'cyan';
                        }
                        paths.push(path);
                        currentGeneration.shift();
                    } else {

                        const childRectangle = getRectangle(parentRectangle.x + parentRectangle.width + RECTANGLE_CHILD_SPACING, (heightCursors.get(generation)) || RECTANGLE_PADDING, currentVideo);
                        heightCursors.set(generation, childRectangle.rectangle.y + childRectangle.rectangle.height + RECTANGLE_PADDING * 2)
                        rectangles.push(childRectangle.rectangle);
                        images.push(childRectangle.image)
                        textItems.push(childRectangle.text);
                        rectangleIds.add(currentVideo.$id);
                        const path = getPath(parentRectangle, childRectangle.rectangle,
                            -((currentGeneration.length + 1) * PATH_PADDING),
                            (RECTANGLE_CHILD_SPACING - PATH_PADDING * 4) - (generationWidths.get(generation) * PATH_PADDING));
                        if (watched.has(currentVideo.$id)) {
                            if (watched.has(parent.$id))
                                path.stroke = 'green';
                            childRectangle.rectangle.stroke = 'green';
                        } else if (root.terminatingIds && root.terminatingIds.indexOf(currentVideo.videoId) !== -1) {
                            path.stroke = 'cyan';
                        }
                        paths.push(path);
                        if (currentVideo.children && currentVideo.children.length > 0) {
                            generationStack.push(currentVideo.children.map(id => v.get(id)));
                            if (!heightCursors.has(generation + 1))
                                heightCursors.set(generation + 1, childRectangle.rectangle.y)
                            generation++;
                        } else {
                            currentGeneration.shift();
                        }
                    }
                }
            }

        }
        const lowestRectangle = rectangles.sort((a, b) => b.y - a.y)[0];
        return {
            rectangles,
            paths,
            images,
            textItems,
            generationCount: generationDepth,
            heightFactor: (lowestRectangle.height + lowestRectangle.y + RECTANGLE_PADDING * 2) / 270
        };
    }

    function getRectangle(x: number, y: number, video: Video) {
        const rectangle: Rectangle = {
            x, y,
            width: video.thumbnailWidth + IMAGE_PADDING * 2,
            height: video.thumbnailHeight + IMAGE_PADDING * 2 + TEXT_SPACING,
            fill: "#ddd",
            id: video.$id,
            stroke: "transparent",
            "stroke-width": 4
        };
        const image = getImage(rectangle, video);
        const text = getText(rectangle, video);
        return {rectangle, image, text};
    }

    function getImage(rectangle, video) {
        return {
            x: rectangle.x + IMAGE_PADDING,
            y: rectangle.y + IMAGE_PADDING,
            width: video.thumbnailWidth,
            height: video.thumbnailHeight,
            href: video.thumbnailUrl
        };
    }

    function getText(rectangle, video) {

        return {
            text: video.title,
            x: rectangle.x + IMAGE_PADDING,
            y: rectangle.y + IMAGE_PADDING * 3 + video.thumbnailHeight,
            textLength: video.thumbnailWidth
        }
    }

    async function handleVideosAdded(addedVideos: Video[]) {

        selectedVideo.children.push(...addedVideos.map(video => video.$id));
        await databaseClient.updateDocument(DATABASE.id, DATABASE.tables.VIDEOS, selectedVideo.$id, {children: selectedVideo.children});
        videos = [...videos, ...addedVideos];
    }

    function markWatched(video: Video) {
        const watchedJson = localStorage.getItem(root.$id + "-watched") || "[]";
        const parsed = JSON.parse(watchedJson);
        parsed.push(video.$id)
        localStorage.setItem(root.$id + "-watched", JSON.stringify(parsed));
        watched = new Set<string>(parsed);
    }

    async function saveSelectedNumber() {
        await databaseClient.updateDocument(DATABASE.id, DATABASE.tables.VIDEOS, selectedVideo.$id, {endingNumber: selectedVideo.endingNumber});
    }

    function getEndingsAchieved(videos) {
        const filter = videos.filter(video => video.endingNumber).filter(video => watched.has(video.$id));
        return filter.length;
    }

    async function linkVideoTo(video: Video, link: string) {
        video.linkTo = link;
        video.children = [];
        await databaseClient.updateDocument(DATABASE.id, DATABASE.tables.VIDEOS, video.$id, {
            linkTo: link,
            children: []
        });

        const videoResponse = await databaseClient.listDocuments<Video>(DATABASE.id, DATABASE.tables.VIDEOS, [Query.equal("rootId", root.$id), Query.limit(200)]);
        videos = videoResponse.documents;
    }
</script>
<div class="h-[100vh] p-2 flex flex-col">

    <div class="flex gap-x-4">
        <h2 class="text-3xl">{root.title}</h2>
        {#if root.endingCount}
            <p class="mt-2">Endings {getEndingsAchieved(videos)} / {root.endingCount}</p>
        {/if}
    </div>
    <!--<div class="flex gap-x-2">-->
    <!--    <button on:click={()=>accountClient.createOAuth2Session("google",window.location.href)}>Login</button>-->
    <!--</div>-->
    {#if root.videoId && videos.length > 0}
        <Tree {...getTreeData(videos, watched)} name={root.title} on:selectRectangle={e=>selectedRectangle=e.detail}/>
    {/if}
</div>
{#if selectedVideo}
    <div class="fixed bg-gray-900/60 h-full w-full z-30 top-0"></div>
    <a class="inset-0 absolute z-40" on:click={()=>selectedVideo=null}></a>
    <div class="absolute top-0  w-full  flex justify-center">
        <div class="card mx-auto inline-block p-2 z-50 max-w-full w-full md:w-auto">
            <h3 class="text-xl mb-2">{selectedVideo.title}
                {#if watched.has(selectedVideo.$id)}
                    <button class="btn btn-sm variant-ghost ml-2" disabled>Watched ✓</button>
                {:else}
                    <button class="btn btn-sm variant-ghost ml-2" on:click={()=>markWatched(selectedVideo)}>Mark as
                        Watched
                    </button>
                {/if}
            </h3>

            <iframe id="ytplayer" type="text/html" class="aspect-video w-full md:w-[1280px] wide-screen:w-[1920px]"
                    title="Video Player"
                    src="https://youtube.com/embed/{selectedVideo.videoId}"></iframe>
            {#if selectedVideo.children.length > 0}
                <div class="my-5">
                    <b class="mb-1">Choices</b>
                    <div class="flex flex-wrap gap-x-2 gap-y-2">
                        {#each selectedVideo.children as childId}
                            {@const child = videos.find(video => video.$id === childId)}
                            <button class="btn btn-sm variant-ghost" on:click={()=>{
                                markWatched(selectedVideo);
                                selectedVideo=child;
                                }}>
                                {child.title} {watched.has(child.$id) ? "✓" : ''}
                            </button>
                        {/each}
                        <button class="btn btn-sm variant-ghost" on:click={()=>{
                                markWatched(selectedVideo);
                                const childId=selectedVideo.children[Math.floor(Math.random() * selectedVideo.children.length)];
                                selectedVideo=videos.find(video => video.$id === childId);
                                }}>
                            Random
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="inline-block px-2 stroke-white fill-white"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M403.8 34.4c12-5 25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V160H352c-10.1 0-19.6 4.7-25.6 12.8L284 229.3 244 176l31.2-41.6C293.3 110.2 321.8 96 352 96h32V64c0-12.9 7.8-24.6 19.8-29.6zM164 282.7L204 336l-31.2 41.6C154.7 401.8 126.2 416 96 416H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c10.1 0 19.6-4.7 25.6-12.8L164 282.7zm274.6 188c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V416H352c-30.2 0-58.7-14.2-76.8-38.4L121.6 172.8c-6-8.1-15.5-12.8-25.6-12.8H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c30.2 0 58.7 14.2 76.8 38.4L326.4 339.2c6 8.1 15.5 12.8 25.6 12.8h32V320c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64z"/></svg>
                        </button>
                    </div>
                </div>
            {/if}
            {#if selectedVideo.linkTo}
                <a href="/watch/{selectedVideo.linkTo}" class="btn btn-sm variant-ghost mt-2" target="_blank"
                   on:click={()=>selectedVideo=undefined}>Follow the
                    adventure: {roots.find(r => r.$id === selectedVideo.linkTo)?.title}</a>
            {/if}
            <div class="p-2 bg-surface-700 my-3 max-w-[1280px] wide-screen:max-w-[1920px]">
                <a href="https://youtube.com/watch?v={selectedVideo.videoId}" class="underline">Youtube Video Link</a>
                <p class="whitespace-pre-wrap">{selectedVideo.description}</p>
            </div>
            {#if $isAdmin}
                <div>
                    <b>Link To</b>
                    <div class="flex gap-x-3">
                        <button class="btn btn-sm variant-ghost-error" on:click={()=>linkVideoTo(selectedVideo,null)}>
                            None
                        </button>
                        {#each roots as r}
                            <button class="btn btn-sm variant-ghost"
                                    on:click={()=>linkVideoTo(selectedVideo,r.$id)}>{r.title}</button>
                        {/each}
                    </div>
                </div>
                {#if !selectedVideo.linkTo}
                    <div class="flex gap-x-3 ">
                        <input type="text" placeholder="video url" class="input text-black px-2"
                               bind:value={inputVideoUrl}>
                        <button class="whitespace-pre"
                                on:click={()=>addVideo(inputVideoUrl,root.$id,(selectedVideo?.generation!==undefined?selectedVideo.generation+1:0)).then(handleVideosAdded).then(()=>inputVideoUrl="")}>
                            Add Video
                        </button>
                    </div>
                {/if}
                <div class="flex gap-x-4 my-4">
                    <b class="whitespace-pre">Ending Number </b>
                    <input type="number" class="input px-2" placeholder="Ending Number"
                           bind:value={selectedVideo.endingNumber} on:change={saveSelectedNumber}/>
                </div>
            {/if}
        </div>
    </div>
{/if}