<script lang="ts">
    import {getPadding, type Path} from "$lib/PathUtils";
    import {createEventDispatcher} from "svelte";

    export let rectangles = [];
    export let textItems = [];

    export let generationCount = 4;
    export let paths: Path[] = [];
    export let images: { x: number, y: number, width: number, height: number, href: string }[] = [];
    export let name;
    let hoveredRectangle = null;
    const eventDispatcher = createEventDispatcher();


    function handleHover(rectangle): () => void {
        return () => {
            hoveredRectangle = rectangle;
        }
    }

    function handleHoverOff(rectangle): () => void {
        return () => {
            if (hoveredRectangle === rectangle)
                hoveredRectangle = null;
        }
    }

    export let heightFactor = 13;

    function copyStylesInline(destinationNode, sourceNode) {
        var containerElements = ["svg", "g"];
        for (var cd = 0; cd < destinationNode.childNodes.length; cd++) {
            var child = destinationNode.childNodes[cd];
            if (containerElements.indexOf(child.tagName) != -1) {
                copyStylesInline(child, sourceNode.childNodes[cd]);
                continue;
            }
            var style = sourceNode.childNodes[cd].currentStyle || window.getComputedStyle(sourceNode.childNodes[cd]);
            if (style == "undefined" || style == null) continue;
            for (var st = 0; st < style.length; st++) {
                child.style.setProperty(style[st], style.getPropertyValue(style[st]));
            }
        }
    }

    function triggerDownload(imgURI, fileName) {
        var evt = new MouseEvent("click", {
            view: window,
            bubbles: false,
            cancelable: true
        });
        var a = document.createElement("a");
        a.setAttribute("download", fileName);
        a.setAttribute("href", imgURI);
        a.setAttribute("target", '_blank');
        a.dispatchEvent(evt);
    }

    function downloadSvg(svg, fileName) {
        const copy = svg.cloneNode(true);
        copy.setAttribute("height",svg.viewBox.baseVal.height);
        copy.setAttribute("width",svg.viewBox.baseVal.width);
        // copyStylesInline(copy, svg);
        var canvas = document.createElement("canvas");
        var bbox = svg.viewBox.baseVal;
        canvas.width = bbox.width;
        canvas.height = bbox.height;
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, bbox.width, bbox.height);
        var data = (new XMLSerializer()).serializeToString(copy);
        var DOMURL = window.URL || window.webkitURL || window;
        var img = new Image();
        var svgBlob = new Blob([data], {type: "image/svg+xml;charset=utf-8"});
        var url = DOMURL.createObjectURL(svgBlob);
        img.onload = function () {
            ctx.drawImage(img, 0, 0);
            // DOMURL.revokeObjectURL(url);
            Promise.all(images.map(image => drawImage(image.href, image.x, image.y, image.width, image.height, ctx)))
                .then(() => {
                    const imgURI = canvas
                        .toDataURL("image/png")
                        .replace("image/png", "image/octet-stream");
                    triggerDownload(imgURI, fileName);
                })
            ;
        };
        img.src = url;
    }

    async function drawImage(imageUrl, x, y, width, height, canvas) {
        return new Promise((resolve, reject) => {
            const img = new Image();
            // img.crossOrigin="anonymous"
            img.onload = () => {
                canvas.drawImage(img, x, y, width, height);
                resolve();
            };
            img.onerror = reject;
            img.src = `/api/image?imageUrl=${encodeURIComponent(imageUrl)}`;
        });
    }

    let svgElement;
</script>
<div class="grow flex flex-col">

<button class="btn variant-filled-primary my-2" on:click={()=>downloadSvg(svgElement,(name||"download")+".png")}>Download Image</button>
<div class=" grow overflow-auto h-[500px]">
    <svg bind:this={svgElement} width={(generationCount+1)*375} height={heightFactor*200} class="bg-surface-500/20"
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {(generationCount+1)*500} {heightFactor*270} ">
        <style>
            .small {
                font: 13px monospace;
                fill: black;
            }

        </style>
        {#each paths as path}
            {@const isHovered =hoveredRectangle && path.id.indexOf(hoveredRectangle.id) !== -1}
            <path {...path} stroke-dasharray={isHovered?15:0}>
                {#if isHovered }
                    <animate attributeName="stroke-dashoffset" values="0;-500" dur="10s" repeatCount="indefinite"/>
                {/if}
            </path>
        {/each}
        {#if hoveredRectangle}
            <path {...getPadding(hoveredRectangle, 7)}/>
        {/if}
        {#each rectangles as rectangle}
            <rect {...rectangle}/>
        {/each}
        {#each images as image}
            <image {...image}/>
        {/each}
        {#each rectangles as rectangle}
            <rect {...{...rectangle, fill: 'transparent', stroke: 'none'}}
                  on:mouseover={handleHover(rectangle)} on:focus={()=>eventDispatcher("selectRectangle",rectangle)} on:click={()=>eventDispatcher("selectRectangle",rectangle)}
                  on:mouseout={handleHoverOff(rectangle)} on:blur={()=>eventDispatcher("selectRectangle",null)}
            />
        {/each}
        {#each textItems as textItem}

            <text x={textItem.x} y={textItem.y} class="small">{textItem.text}</text>
        {/each}

    </svg>
</div>
</div>
