<script lang='ts'>
	// The ordering of these imports is critical to your app working properly
	import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
	// If you have source.organizeImports set to true in VSCode, then it will auto change this ordering
	import '@skeletonlabs/skeleton/styles/skeleton.css';
	// Most of your app wide CSS should be put in this file
	import '../app.postcss';

    import { datadogRum } from '@datadog/browser-rum';

    datadogRum.init({
        applicationId: 'bf61d803-08ec-4b19-870a-8b070d7e277c',
        clientToken: 'pub81b45490ea9526ab980ed7318f590b1f',
        site: 'datadoghq.com',
        service:'watch-tracker',
        env:'prod',
        // Specify a version number to identify the deployed version of your application in Datadog
        // version: '1.0.0',
        sessionSampleRate:100,
        sessionReplaySampleRate: 100,
        trackUserInteractions: true,
        trackResources: true,
        trackLongTasks: true,
        defaultPrivacyLevel:'allow'
    });

    datadogRum.startSessionReplayRecording();
</script>

<slot />
