<script lang="ts">
    import {DATABASE,databaseClient} from "$lib/AppwriteUtils";
    import {onMount} from "svelte";

    let roots = [];
    onMount(()=>{
        databaseClient.listDocuments(DATABASE.id,DATABASE.tables.ROOT).then((response) => {
            roots = response.documents;
        }, (error) => {
            console.log(error);
        });
    })
</script>
<div class="space-y-2 divide-y ">
    {#each roots as root}
        <div class="flex gap-x-4 pt-2 border-surface-500 hover:bg-surface-700/70 relative">
            <a href="/watch/{root.$id}" class="inset-0 absolute"></a>
            <img src={root.thumbnailUrl} class="h-[100px]" alt={root.title+" thumbnail"}/>
            <h3 class="">{root.title}</h3>
        </div>
        {/each}
</div>